
.form {

  .title__h1 {
    text-align: center;
  }

  .form__name {
    text-align: center;

    input {
      margin-left: 1rem;
    }
  }

  .form__select {
    text-align: center;
    margin-top: 1rem;
  }

  .form__submit {
    margin-left: 50vw;
    margin-top: 10vh;
  }

}
