@use 'reset';
@use 'vars';

/*
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/


.table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.row {
  margin-bottom: 2rem;

  button {
    margin-right: 2rem;
  }
}

//correction conflict bootstrap and material ui
legend {
  width: auto
}

a:link {
  font-weight: normal;
  text-decoration: none;
  color: white;
}

a:hover{
  color: white;
}



